:root {
  font-family: 'Cabin Sketch', cursive;
  --background: #262626;
  --color: #b3001b;
  --hype: #ccad8f;
  --accent: #255c99;
  --shadow: #7ea3cc;
}

body {
  display: flex;
  height: 100vh;
  background: var(--hype);
  text-align: center;
}

.container {
  height: 406px;
  width: 296px;
  padding: 15px;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  color: var(--background);
  background: var(--color);
  background-color: var(--accent);
}

.btn {
  background: var(--color);
  color: #fff;
  border-radius: 20%;
  vertical-align: middle;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
}

.btn:hover {
  color: gold;
  background: var(--background);
  cursor: pointer;
}

.opp {
  background: var(--color);
  color: #fff;
  border-radius: 20%;
  vertical-align: middle;
  text-align: center;
  line-height: 44px;
}

.opp:hover {
  color: gold;
  background: var(--background);
  cursor: pointer;
}

#heading {
  grid-column: span 4;
  text-align: center;
  background: grey;
  color: #fff;
  box-shadow: 0.5px 0.5px 0.5px;
  border: 0.5px dotted red;
}

#screen {
  background: #fff;
  grid-column: span 4;
  border-radius: 10%;
  text-align: right;
  height: 30px;
  padding: 10px;
}

.clear {
  background: black;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: inherit;
}

#equals {
  grid-row: span 2;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
}

#zero {
  grid-column: span 2;
}
